/* Importera Google Fonts Roboto för att använda som typsnitt i hela dokumentet */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* Deklarera egna CSS-variabler för knappfärg och bakgrundsfärg på en sektion */
:root{
    --btn-color:#e58f00;
    --about-sec:#1d1d23;
}
/* Grundläggande CSS-stilar för alla element i dokumentet */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
}
/* Ändra grundläggande inställningar för HTML-elementet */
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
/* CSS-stilar för navigeringsfältet i header */
.header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1d1d23;
}
/* CSS-stilar för logotypen i navigeringsfältet */
.logo img{
    width: 60px;
}
/* CSS-stilar för navigeringslänkarna i navigeringsfältet */
.navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
/* CSS-stilar för hover-effekt på navigeringslänkarna */
.navbar a:hover{
    color: var(--btn-color);
}
/* CSS-stilar för sociala ikoner i navigeringsfältet */
.icons div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icons div:hover{
    cursor: pointer;
}

.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.contact-btn:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}
/* CSS-stilar för aktivt navigeringsfält */
.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* CSS-stilar för home-sektionen */

.home{
    padding: 1rem 7%;
    background: url(images/background.png);
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* CSS-stilar för innehållsboxen i home-sektionen */
.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 150px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.home-inner-content{
    flex: 1 1 45rem;
}
.home-image{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.home-image img{
    width: 100%;
    position: absolute;
    transform: translate(0%, -40%);
}

  
.home-text-content{
    padding: 0 8rem;
}
.home-text-content h1{
    font-size: 45px;
    color: #e58f00;
}
.home-text-content p{
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 25px;
}
.home-text-content a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.home-text-content a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}
.about{
    padding: 2rem 7%;
    background: var(--about-sec);
}
.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.about-content{
    flex: 1 1 45rem;
}
.about-inner-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about-content .about-inner-content img{
    width: 80%;
    margin-left: 100px;
}
.about-text-content{
    padding: 0 4rem;
}
.about-text-content h1{
    color: #e58f00;
    font-size: 40px;
    margin-bottom: 15px;
}
.about-text-content p{
    color: white;
    font-size: 1.5rem;
    line-height: 35px;
}
.quality{
    padding: 4rem 7%;
    background-image: linear-gradient(60.34deg, white 52.45%, var(--btn-color) 52.45%);
}
.main-quality{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.main-inner-quality{
    flex: 1 1 45rem;
}
.quality-content{
    padding: 0 4rem;
}
.quality-content h1{
    color: var(--btn-color);
    font-size: 40px;
    margin-bottom: 15px;
}
.quality-content p{
    color: var(--about-sec);
    font-size: 1.5rem;
    line-height: 30px;
}
.qulity-image{
    width: 100%;
}
.qulity-image img{
    width: 100%;
    object-fit: cover;
}

/* design of gallery */

.gallery{
    padding: 4rem 7%;
    background: var(--about-sec);
}
.gallery h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 3rem;
    color: var(--btn-color);
    letter-spacing: 1px;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  
}
.inner-gallery{
    flex: 1 1 300px;
    
}
.inner-gallery .gallery-image img{
    width: 100%;
}
.inner-gallery .gallery-image:hover img{
    transform: perspective(1000px)  
    
}
.enjoy-our-food{
    padding: 2rem 7%;
    background: url(images/enjoye.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-main-content{
    width: 40%;
    border: 4px solid white;
    padding: 2rem;
}
.food-main-content h1{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 1rem 0;
}
.food-main-content p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    line-height: 30px;
}
.our-menu-food{
    padding: 2rem 7%;
    background-color: var(--about-sec);
}
.our-menu-food h1{
    color: var(--btn-color);
    font-size: 45px;
    text-align: center;
    padding: 0.5rem 0;
}
.main-menu-food{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.inner-menu-food{
    flex: 1 1 300px;
}
.menu-food-content{
    width:100%;

}
.menu-food-content img{
    width: 100%;
}

.menu-food-text{
    padding: 2rem 2rem;
}
.menu-food-text h2{
    color: var(--btn-color);
    font-size: 30px;
}
.menu-food-text p{
    color:white;
    font-size:18px;
    margin: 2rem 0;
}
.menu-food-text p span{
    color: #e58f00;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}
.menu-food-text p:hover span{
    border: 1px solid white;
    background: var(--btn-color);
    color: white;
    transform: scale(1.1);
}
.before{
    background-color: #1d1d23;
    padding: 2rem 0;
}
.before{
    width: 100%;
}
.before img{

    width: 100%;
    object-fit: cover;
}

.footer{
    background: #1d1d23;
    padding: 6rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main-footer img{
    width: 200px;
}
.footer-navbar{
    margin-top: 15px;
}
.footer-navbar a{
    color: #e58f00;
    font-size: 18px;
    margin: 1rem;
    padding: 1rem;
}


@media (max-width:767px) {
    .header{
        padding: 3rem;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 100%;
        background-color: var(--btn-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);


    }
    .navbar a{
        display: block;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }

    /* home css designen */

    .home-text-content{
        padding: 0 2rem;
    }
    .main-home{
        padding: 2rem 0;
    }
    .home{
        padding-top: 100px;
        
    }
    .home-image img{
        transform: translate(0%, 0%);
    }
    .home-text-content{
        margin-top: 300px;
    }
    .about-content .about-inner-content img{
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .quality-content{
        padding: 1rem 2rem;
    }
    .quality-content h1{
        color: var(--about-sec)
    }
    .food-main-content{
        width: 100%;
        border: 4px solid white;
        padding: 1rem;
    }

    .footer-navbar a{
        display: block;
       
    }

}

/* design för contact form */

.contact-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
  
  .contact-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 120px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #3e8e41;
  }

/* design för checkout form */

  .checkout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .checkout-form label {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .checkout-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    font-size: 1.2rem;
  }
  
  .checkout-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .checkout-form button:hover {
    background-color: #f57c00;
  }
  
  .menu-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    color: white;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.menu-img {
    width: 100px;
    height: auto;
    margin-right: 2rem;
}

.menu-item {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
}

.menu-price,
.menu-quantity {
    font-size: 1.2rem;
    color: white;
}


  




